@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Today is your lucky day!</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="400"/>

<div>
    <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
    <a asp-controller="Home" asp-action="AddMovie">Fill Out Movie</a>
</div>